
<div class="view-container">
  <div class = "buttons-container">
    <button mat-button color="primary" [routerLink]='["/main-page", userId]'>Main Page</button>
    <button mat-raised-button color="warn" (click)="deleteTest()">Delete Test</button>
    <button mat-button (click) ="learn()"> Learn </button>
  </div>

  <div class="test-title">
    {{testTitle}}
  </div>

<div class="card-container">
  <div class="card-column">
    <div class="card" *ngFor="let card of cards">
      <div class="text-container" (mouseenter)="card.showDeleteButton = true" (mouseleave)="card.showDeleteButton = false">
        <div class="term">{{ card.term }}</div>
        <div class="definition">{{ card.definition }}</div>
        <div class="buttons">
          <button mat-icon-button class="edit-button" *ngIf="card.showDeleteButton" (click)="editCard(card)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-button" *ngIf="card.showDeleteButton" (click)="deleteCard(card.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="edit-form" [ngStyle]="{ 'display': card.edit ? 'block' : 'none' }">
        <form (submit)="updateCard(card)">
          <mat-form-field>
            <input matInput placeholder="Term" [(ngModel)]="card.term" name="cardTerm" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Definition" [(ngModel)]="card.definition" name="cardDefinition" required>
          </mat-form-field>
          <button mat-raised-button type="submit">Update Card</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class = "add-card-all">
<button mat-button (click)="showAddCardForm = true">Add New Card</button>

  <div *ngIf="showAddCardForm" class="add-card-form">
    <form (submit)="addCard()">
      <mat-form-field>
        <input matInput placeholder="Term" [(ngModel)]="newCardTerm" name="newCardTerm" required>
        <mat-error *ngIf="newCardTerm && !newCardTerm.trim()">Term is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Definition" [(ngModel)]="newCardDefinition" name="newCardDefinition" required>
        <mat-error *ngIf="newCardDefinition && !newCardDefinition.trim()">Definition is required</mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button type="submit" [disabled]="!newCardTerm || !newCardDefinition || (!newCardTerm.trim() || !newCardDefinition.trim())">Save Card</button>
        <button mat-raised-button type="button" (click)="discardChanges()">Discard Changes</button>
      </div>
    </form>
  </div>
</div>
</div>

