<div class="main-page">
<button mat-button class="sign-out-button" (click)="signOut()">Sign out</button>

<div class="nav-list-container">
  <mat-nav-list>
    <mat-list-item *ngFor="let link of links" [routerLinkActive]="['active']" class="mat-list-item">
      <a matListItemTitle [routerLink]="['/view-test', userId, link.id, link.title]">{{ link.title }}</a>
    </mat-list-item>
  </mat-nav-list>
</div>

<button mat-raised-button class="create-test-button" (click)="createNewTest()">Create New Test</button>
</div>


