<div class="login-container">
  <button mat-button class="sign-up-button" (click)="signUp()">Sign up</button>

  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
    <button type="submit">Sign in</button>
  </form>
  <h2 class="login-title"> Sign in and start learning!</h2>

</div>

